.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

#header{
  width: 100vw;
	height: 15vh;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
	text-align: center;
}

#greeting-container {
  margin-top: 20px;
}

#profile-image {
	width: 80%;
	min-width: 400px
}

#footer {
	width: 100vw;
	height: 10vh;
	text-align: center;
}